.newPost-form {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: center;
    margin: auto;
}

.post-pic-preview {
    height: 100px;
    width: 100px;
    margin: auto;
}

.post-textarea {
    padding-bottom: 50px;
    margin-top: 50px;
}

.post-button {
    width: 50px;
}