.App {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
  text-align: center;
  vertical-align: baseline;
  border: 0;
}

/*----Auth.js----*/
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #FF70A6 10%, #E9FF70 90%);
  height: 100%;
}

.auth-box {
  border-radius: 10px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .25);
  height: 55vh;
  width: 35vw;
  justify-content: space-around;
  padding: 20px;
}

h1 {
  color: white;
  font-size: 75px;
}

.auth-form {
  justify-content: space-around;
}

#register, #login {
  margin: 25px;
  box-shadow: 0 1px 3px 0, rgba(0, 0, 0, .1);
  border-radius: 3px;
  color: #fff;
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
}


/*----Nav.js----*/
.sidenav {
  height: 100vh;
  width: 100px;
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, #ff7abe, #ff9770);
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, .1);
  overflow-x: hidden;
  padding-top: 20px;
  color: #fff;
}

#profile-pic {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, .1);
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links img {
  width: 40px;
  margin-top: 25px;
}

#logout {
  position: absolute;
  bottom: 50px;
}


/*----Dashboard.js----*/

.dashboard-component, .form-component {
  padding: 20px 20px 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Filter Box*/
.filter-container {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 3px 0 rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  min-width: 25vw;
}

.search-box {
  display: flex;
}

.search-img {
  height: 25px;
  width: 25px;
  background-color: #ff9770;
  border-radius: 2px;
  padding: 4px;
}

.reset-btn {
  padding: 5px 10px;
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
  color: white;
}

/*Post Box*/
.posts-container {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  width: 50vw;
}

.post-content-box {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.auth-box, p {
  margin-right: 20px;
}


/*----Form.js----*/
.form-container {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 3px 0 rgba(0, 0, 0, .1);
  width: 55%;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding-top: 0;
}

.form-title {
  color: #FF9770;
  font-size: 45px;
}

.form-img-preview {
  height: 200px;
  width: 200px;
  background-color: #F2F2F2;
  margin-top: 15px;
  position: relative;
  left: 40%;
}

.content-input {
  height: 100px;
  width: 100%;
}

.post-btn {
  position: relative;
  left: 45%;
  box-shadow: 0 1px 3px 0, rgba(0, 0, 0, .1);
  border-radius: 3px;
  color: #fff;
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
}

